.first-project {
  position: relative;
  background-color: #8AAAE5;
  height: 79rem;
  width: 109rem;
  display: flex;
  font-weight: bold;
  border-radius: 15px;
  margin-left: -5px;
  margin-top: 30px;
  margin-bottom: 15px;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid black;
}

.project_card_title-first:hover {
  color: #8AAAE5;
  transition: all 0.5s;
}

.project_card_title-first {
  color: black;
  font-size: 60px;
  background-color: white;
  border-radius: 15px;
  margin-top: 25px;
  height: 100px;
  width: 100rem;
  border: 2px solid black;
  margin-left: 75px;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
}

.project-description-title {
  color: black;
  font-size: 60px;
  background-color: white;
  border-radius: 15px;
  margin-top: 25px;
  height: 100px;
  width: 100rem;
  border: 2px solid black;
  margin-left: 75px;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
}

.project-description-first  {
  color: black;
  font-size: 18px;
  background-color: white;
  border-radius: 15px;
  margin-top: 25px;
  height: 100px;
  width: 100rem;
  border: 2px solid black;
  margin-left: 75px;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
}

.slideshow-container_2 {
  position: relative;
  background-color: #8AAAE5;
  height: 50rem;
  width: 50rem;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 20px;
  margin-top: 30px;
  margin-right: 20px;
  flex-direction: column;
  border: 2px solid black;
}

body .first-project .slideshow-project_2 img {
  width: auto;
  height: auto;
  border-radius: 0;
  border: none;
  display: block;
}

#slideshow-project_2 {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#slideshow-project_2 img {
  width: 25rem;
  height: 25rem;
  border-radius: 15px;
  border: 2px solid black;
  display: none;
}

#slide_2.active img {
  display: block;
}
