 <body class="background">
  <div class="container">
    <div class="navbar">
      <%= link_to root_path do %>
        <%= image_tag ('/assets/logo_rv.png'), alt: ("logo rv"), class: ("logo_style") %>
      <% end %>
      <a class="navbar-item" href="/contact">Contact</a>
      <a class="navbar-item" href="/about">About</a>
      <a class="navbar-item" href="/project">Project</a>
      <a class="navbar-item" href="/">Home</a>
    </div>
      <div class="row">
        <div class="col-md-6">
          <div class="about_main_card">
            <h2 class="about_main_card_title">About Robin Vorstedt</h2>
            <p class="about_main_card_text"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="slidshow_container">
            <div id="slideshow">
              <img class="active" src="/assets/rv_beach.jpg" alt="Photo 1">
              <img src="/assets/about_rv.jpg" alt="Photo 2">
              <img src="/assets/rv_taipai.jpg" alt="Photo 3">
            </div>
            <div class="btn-container">
              <button class="btn" onclick="showSlide(1)">Photo 1</button>
              <button class="btn" onclick="showSlide(2)">Photo 2</button>
              <button class="btn" onclick="showSlide(3)">Photo 3</button>
            </div>
          </div>
          <script>
            let currentSlide = 1;

            function showSlide(slideNumber) {
              const slides = document.querySelectorAll('#slideshow img');
              const buttons = document.querySelectorAll('.btn');

              slides[currentSlide - 1].classList.remove('active');
              slides[slideNumber - 1].classList.add('active');

              buttons[currentSlide - 1].classList.remove('active');
              buttons[slideNumber - 1].classList.add('active');

              currentSlide = slideNumber;
            }
          </script>
        </div>

        <div class="col-md-12">
          <div class="diploma-card">
            <h2 class="diploma-card-title">Diploma Le Wagon</h2>
              <img src='/assets/diploma-LeWagon.jpg', alt='Diploma', class="diploma-photo">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
