 <body class="background">
  <div class="navbar">
    <%= image_tag ('/assets/logo_rv.png'),
      class: "logo_style"
    %>
    <a class="navbar-item" href="/contact">Contact</a>
    <a class="navbar-item" href="/about">About</a>
    <a class="navbar-item" href="/project">Project</a>
    <a class="navbar-item" href="/">Home</a>
  </div>
    <div>
      <h1>So this is about me?</h1>
      <p>Are you really sure you didn't make a mistake?</p>
    </div>
</body>
