 <body class="background">
  <div class="navbar">
    <%= link_to root_path do %>
      <%= image_tag ('/assets/logo_rv.png'), alt: ("logo rv"), class: ("logo_style") %>
    <% end %>
    <a class="navbar-item" href="/contact">Contact</a>
    <a class="navbar-item" href="/about">About</a>
    <a class="navbar-item" href="/project">Project</a>
    <a class="navbar-item" href="/">Home</a>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="slidshow_container">
        <div class="photo_about_rv">
          <div>
            <img src='/assets/about_rv.jpg', alt='Photo Robin Vorstedt about', class="img_rv fade">
          </div>
          <div>
            <img src='/assets/rv_taipai.jpg', alt='Photo Robin Vorstedt about taipai', class="img_rv fade">
          </div>
          <div>
            <img src='/assets/rv_beach.jpg', alt='Photo Robin Vorstedt about beach', class="img_rv fade">
          </div>
          <script src="slideshow.js"></script>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="about_main_card">
        <h2 class="about_main_card_title">About Robin Vorstedt</h2>
        <p class="about_main_card_text"></p>
      </div>
    </div>
  </div>
</body>
