<body class="background">
  <div class="navbar">
      <%= cl_image_tag("axckr9oplcx3mgtoektt", alt: "logo rv", class: "logo_style") %>
    <a class="navbar-item" href="/contact">Contact</a>
    <a class="navbar-item" href="/about">About</a>
    <a class="navbar-item" href="/project">Project</a>
    <a class="navbar-item" href="/">Home</a>
  </div>
    <div>
      <h1>Whatapp machine</h1>
      <h1>link to e-mail adress</h1>
      <h1>More photos?</h1>
    </div>
  <div>
</body>
