<body class="background">
  <div class="navbar">
    <%= image_tag ('/assets/logo_rv.png'),
      class: "logo_style"
    %>
    <a class="navbar-item" href="/contact">Contact</a>
    <a class="navbar-item" href="/about">About</a>
    <a class="navbar-item" href="/project">Project</a>
    <a class="navbar-item" href="/">Home</a>
  </div>
    <div>
      <h1>Will you conytact me??</h1>
    </div>
</body>
