<body class="background">
  <div class="container">
    <div class="navbar">
      <%= link_to root_path do %>
        <%= image_tag ('/assets/logo_rv.png'), alt: ("logo rv"), class: ("logo_style") %>
      <% end %>
      <a class="navbar-item" href="/contact">Contact</a>
      <a class="navbar-item" href="/about">About</a>
      <a class="navbar-item" href="/project">Project</a>
      <a class="navbar-item" href="/">Home</a>
    </div>
      <div class="row">
        <div class="col-md-9">
          <div class="main_card">
            <h2 class="main_card"> Creative Web Developer </h2>
              <p>I care a lot about design for positive impact and enjoy creative user-centric, delightful, and human experiences.</p>
                <div class="buttom_row">
                  <a class="contact_me" href="/contact">Contact Me</a>
                    <div onclick="window.location.href='https://www.linkedin.com/in/robinvorstedt/';">
                        <%= image_tag ('/assets/linkdeln_logo.png'), alt: ('linkdeln'), class: ('logo_linkdeln') %>
                    </div>
                </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="photo_card_home_2">
            <%= image_tag ('/assets/rv_me.jpg'), alt: ('Photo Robin Vorstedt'), class: ('card_photo_home') %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="experince">
          </div>
        </div>
        <div class="col-md-6">
          <div class="course">
            <ul>
              <li>HTML</li>
                <img alt="HTML" class="icon_style" src='/assets/icon-html.png'>
              <li>CSS</li>
                <img alt="CSS" class="icon_style" src='/assets/icon-css.png'>
              <li>SCSS</li>
                <img alt="SCSS" class="icon_style" src='/assets/icon-html.png'>
              <li>JavaScript</li>
                <img alt="JavaScript" class="icon_style" src='/assets/icon-javascript.png'>
              <li>Ruby</li>
                <img alt="Ruby" class="icon_style" src='/assets/icon-ruby.png'>
              <li>Ruby on Rails</li>
                <img alt="Ruby on Rails" class="icon_style" src='/assets/icon-rails.png'>
              <li>Terminal</li>
                <img alt="Terminal" class="icon_style" src='/assets/icon-terminal.png'>
              <li>VS Code</li>
                <img alt="VS Code" class="icon_style" src='/assets/icon-vscode.png'>
              <li>SQL</li>
                <img alt="SQL" class="icon_style" src='/assets/icon-sql.png'>
              <li>WebPack</li>
                <img alt="WebPack" class="icon_style" src='/assets/icon-webpack.png'>
              <li>Heroku</li>
                <img alt="Heroku" class="icon_style" src='/assets/icon-heroku.png'>
              <li>Figma</li>
                <img alt="Figma" class="icon_style" src='/assets/icon-figma.png'>
              <li>Git</li>
                <img alt="Git" class="icon_style" src='/assets/icon-git.png'>
              <li>GitHub</li>
                <img alt="GitHub" class="icon_style" src='/assets/icon-github.png'>
              <li>Bootstrap</li>
                <img alt="Bootstrap" class="icon_style" src='/assets/icon-html.png'>
              <li>AJAX</li>
                <img alt="AJAX" class="icon_style" src='/assets/icon-html.png'>
            </ul>
          </div>
        </div>
    </div>
  </div>
</body>
