<body class="background">
  <div class="container">
    <div class="navbar">
      <%= link_to root_path do %>
        <%= image_tag ('/assets/logo_rv.png'), alt: ("logo rv"), class: ("logo_style") %>
      <% end %>
      <a class="navbar-item" href="/contact">Contact</a>
      <a class="navbar-item" href="/about">About</a>
      <a class="navbar-item" href="/project">Project</a>
      <a class="navbar-item" href="/">Home</a>
    </div>
      <div class="row">
        <div class="col-md-9">
          <div class="main_card">
            <h2 class="main_card"> Creative Web Developer </h2>
              <p>I care a lot about design for positive impact and enjoy creative user-centric, delightful, and human experiences.</p>
                <div class="buttom_row">
                  <a class="contact_me" href="/contact">Contact Me</a>
                    <div onclick="window.location.href='https://www.linkedin.com/in/robinvorstedt/';">
                        <%= image_tag ('/assets/linkdeln_logo.png'), alt: ('linkdeln'), class: ('logo_linkdeln') %>
                    </div>
                </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="photo_card_home_2">
            <%= image_tag ('/assets/rv_me.jpg'), alt: ('Photo Robin Vorstedt'), class: ('card_photo_home') %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="experince">
           <div class="experince_years">
            <p class="experince_years_text"> 0 Years</p>
           </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="course">
            <ul class="icon_container">
              <img alt="HTML" class="icon_style" src='/assets/icon-html.png'>
              <p class="icon_style_text">HTML</p>
            </ul>
            <ul class="icon_container">
              <img alt="CSS" class="icon_style" src='/assets/icon-css.png'>
              <p class="icon_style_text">CSS</p>
            </ul>
            <ul class="icon_container">
              <img alt="SCSS" class="icon_style" src='/assets/icon-html.png'>
              <p class="icon_style_text">SCSS</p>
            </ul>
            <ul class="icon_container">
              <img alt="JavaScript" class="icon_style" src='/assets/icon-javascript.png'>
              <p class="icon_style_text">Java Script</p>
            </ul>
            <ul class="icon_container">
              <img alt="Ruby" class="icon_style" src='/assets/icon-ruby.png'>
              <p class="icon_style_text">Ruby</p>
            </ul>
            <ul class="icon_container">
              <img alt="Ruby on Rails" class="icon_style" src='/assets/icon-rails.png'>
              <p class="icon_style_text">Ruby on Rails</p>
            </ul>
            <ul class="icon_container">
              <img alt="Terminal" class="icon_style" src='/assets/icon-terminal.png'>
              <p class="icon_style_text">Terminal</p>
            </ul>
            <ul class="icon_container">
              <img alt="VS Code" class="icon_style" src='/assets/icon-vscode.png'>
              <p class="icon_style_text">VS code</p>
            </ul>
            <ul class="icon_container">
              <img alt="SQL" class="icon_style" src='/assets/icon-sql.png'>
              <p class="icon_style_text">SQL</p>
            </ul>
            <ul class="icon_container">
              <img alt="WebPack" class="icon_style" src='/assets/icon-webpack.png'>
              <p class="icon_style_text">Webpack</p>
            </ul>
            <ul class="icon_container">
              <img alt="Heroku" class="icon_style" src='/assets/icon-heroku.png'>
              <p class="icon_style_text">Heroku</p>
            </ul>
            <ul class="icon_container">
              <img alt="Figma" class="icon_style" src='/assets/icon-figma.png'>
              <p class="icon_style_text">Figma</p>
            </ul>
            <ul class="icon_container">
              <img alt="Git" class="icon_style" src='/assets/icon-git.png'>
              <p class="icon_style_text">Git</p>
            </ul>
            <ul class="icon_container">
              <img alt="GitHub" class="icon_style" src='/assets/icon-github.png'>
              <p class="icon_style_text">GitHub</p>
            </ul>
            <ul class="icon_container">
              <img alt="Bootstrap" class="icon_style" src='/assets/icon-html.png'>
              <p class="icon_style_text">Bootstrap</p>
            </ul>
            <ul class="icon_container">
              <img alt="AJAX" class="icon_style" src='/assets/icon-html.png'>
              <p class="icon_style_text">AJAX</p>
            </ul>
          </div>
        </div>
    </div>
  </div>
</body>
