<div class="navbar">
    <%= link_to(cl_image_tag("axckr9oplcx3mgtoektt", alt: "logo rv", class: "logo_style"), "/") %>
  <a class="navbar-item" href="/contact">Contact</a>
  <a class="navbar-item" href="/about">About</a>
  <a class="navbar-item" href="/project">Project</a>
  <a class="navbar-item" href="/">Home</a>
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="project-video">
        <h2 class="project_card_title">Eind project on Le Wagon</h2>
          <div class="video-youtube">
            <iframe width="1560" height="915" src="https://www.youtube.com/embed/g7OyPhu_LVU" title="virtual-styler" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div class="project-description">
            <h2>This project I did it with 3 other classmates. this presenter was presented by 2 of my classmates.</h2>
          </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="first-project">
        <h2 class="project_card_title-first">First Project</h2>
          <div class="slidshow_container_project">
            <div id="slideshow-project">
              <%= cl_image_tag("", alt: "Photo 4", class: "active") %>
              <%= cl_image_tag("", alt: "Photo 5") %>
              <%= cl_image_tag("", alt: "Photo 6") %>
            </div>
            <div class="btn-container">
              <button class="btn" onclick="showSlide(4)">Photo 4</button>
              <button class="btn" onclick="showSlide(5)">Photo 5</button>
              <button class="btn" onclick="showSlide(6)">Photo 6</button>
            </div>
          </div>
          <script>
            let currentSlide = 1;

            function showSlide(slideNumber) {
              const slides = document.querySelectorAll('#slideshow img');
              const buttons = document.querySelectorAll('.btn');

              slides[currentSlide - 1].classList.remove('active');
              slides[slideNumber - 1].classList.add('active');

              buttons[currentSlide - 1].classList.remove('active');
              buttons[slideNumber - 1].classList.add('active');

              currentSlide = slideNumber;
            }
          </script>
        <div class="project-description-first">
          <h2>The first project was the task: Make a website that is simailer to Airbnb and use your fantasy. Me and my team came with the idea to rent spaceships.</h2>
        </div>
      </div>
    </div>
  </div>
