<body class="background">
  <div class="navbar">
      <%= cl_image_tag("axckr9oplcx3mgtoektt", alt: "logo rv", class: "logo_style") %>
    <a class="navbar-item" href="/contact">Contact</a>
    <a class="navbar-item" href="/about">About</a>
    <a class="navbar-item" href="/project">Project</a>
    <a class="navbar-item" href="/">Home</a>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project-video">
          <h2 class="project_card_title">Eind project</h2>
            <div class="video-youtube">
              <iframe width="1560" height="615" src="https://www.youtube.com/embed/g7OyPhu_LVU" title="virtual-styler" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

          <!--<h1>youtube link</h1>
          <h1>photo projects?</h1>
          <h1>Link to the projects?</h1>-->
