<body class="background">
  <div class="navbar">
      <%= cl_image_tag("axckr9oplcx3mgtoektt", alt: "logo rv", class: "logo_style") %>
    <a class="navbar-item" href="/contact">Contact</a>
    <a class="navbar-item" href="/about">About</a>
    <a class="navbar-item" href="/project">Project</a>
    <a class="navbar-item" href="/">Home</a>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/g7OyPhu_LVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <!--<h1>youtube link</h1>
          <h1>photo projects?</h1>
          <h1>Link to the projects?</h1>-->
        </div>
      </div>
    </div>
</body>
