.contact_me {
  height: 50px;
  width: 200px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  margin-left: 130px;
  font-size: 30px;
  text-align: center;
  text-decoration-line: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_linkdeln {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-left: 600px;
  margin-bottom: 25px;
}
