.experince_years {
  height: 35rem;
  width: 33rem;
  border-radius: 15px;
  border: 2px solid black;
  margin-left: 35px;
  font-family: 'Ubuntu', sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
}
