.icon_container {
  height: 100px;
  width: 100px;
  border-radius: 15px;
  border: 2px dotted black;
  margin-left: 35px;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
}

.icon_style {
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px;
  float: right;
  margin-top: 30px;
}

.icon_style_text {
  margin-left: -10px;
  margin-top: 40px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.icon_container:hover {
  height: 150px;
  width: 150px;
  border-radius: 15px;
}
