.photo_about {
  position: relative;
  background-color: #8AAAE5;
  height: 700px;
  width: 800px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 20px;
  flex-direction: column;
  border: 2px solid black;
}

.photo_about_rv {
  display: flex;
  margin: 170px;
  width: 60%;
  border-radius: 15px;
  border: 2px solid black;
}
